<% if @menu.errors.any? %>
    <p>The menu couldn't be created</p>
    <ul>
      <% @menu.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      <% end %>
    </ul>
<% end %>