<p>
  <%= link_to 'Create new', new_menu_path %>
</p>
<ul class="at-list-group">
  <% @menus.each do |menu| %>
  <li class="at-list-group-item"><%= menu.week %> <%= link_to 'View', menu_path(menu) %> <%= link_to 'Edit', edit_menu_path(menu) %></li>
  <% end %>
</ul>
