<ul class="at-list-group">
  <%= link_to 'Create new', new_menu_path, class: "btn btn-default btn-xm at-btn-dark" %>
  <% @menus.each do |menu| %>
  <li class="at-list-group-item">
    <span><%= menu.week %></span>
    <div class="pull-right">
      <%= link_to 'View', menu_path(menu), class: "btn btn-default btn-xs at-btn-light", role: "button" %>
      <%= link_to 'Edit', edit_menu_path(menu), class: "btn btn-default btn-xs at-btn-light", role: "button" %>
    </div>
  </li>
  <% end %>
</ul>
