<% if object.errors.any? %>
  <div class="group">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h2 class="panel-title">
              You cannot sign up:
            </h2>
            <div class="pannel-body">
              <ul>
                <% object.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
