@import "bootstrap-sprockets";
@import "bootstrap";

:root {
    --at-green: #89BC62;
    --at-light-green: #9AD46E;
    --at-dark-green: #79A656;
    --at-grey: #F8F8F8;
    --at-shadow-grey: #D4D4D4;
    --at-light-shadow-grey: #E8E8E8;
    --at-dark-shadow-grey: #A6A6A6;
    --at-link-shadow-grey: #F5F5F5;
}

body {
    font-family: avenir, sans-serif;
}
