@import "bootstrap-sprockets";
@import "bootstrap";

:root {
    --at-green: #89BC62;
    --at-light-green: #9AD46E;
    --at-dark-green: #79A656;
    --at-grey: #F8F8F8;
    --at-shadow-grey: #D4D4D4;
    --at-light-shadow-grey: #E8E8E8;
    --at-dark-shadow-grey: #A6A6A6;
}

body {
    font-family: avenir, sans-serif;
}

.at-header {
  padding: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--at-light-shadow-grey);
  text-align: center;
}

.at-footer {
  padding: 8px 0;
  margin-top: 15px;
  border-top: 1px solid var(--at-light-shadow-grey);
  background-color: var(--at-grey);
  text-align: center;
}

.at-logo-footer {
  height: 15px;
}

.group {
  margin-bottom: 50px;
}

.at-row {
  margin-bottom: 15px;
}

.at-list-item {
  position: relative;
  display: block;
  background: var(--at-grey);
  padding: 15px;
  margin: 15px 0;
  border: 1px solid var(--at-light-shadow-grey);
  border-radius: 4px;
  box-shadow: 0 1px 3px 1px var(--at-light-shadow-grey);
}

.at-btn-light {
  text-transform: uppercase;
  width: 60px;
  background: transparent;
  border: 1px solid var(--at-green);
  color: var(--at-green);
  margin-right: 5px;
}

.at-btn-light:hover {
    color: var(--at-green);
    background: transparent;
    border: 1px solid var(--at-green);
    box-shadow: 0 1px 3px 1px var(--at-shadow-grey);
}

.at-btn-light:active:focus {
    color: var(--at-green);
    background: transparent;
    border: 1px solid var(--at-green);
    box-shadow: 0 1px 3px 1px var(--at-dark-shadow-grey);
}

.at-btn-dark {
  text-transform: uppercase;
  width: 85px;
  background-color: var(--at-green);
  border: 1px solid var(--at-green);
  color: white;
  margin-left: 5px;
}

.at-btn-dark:hover {
    color: white;
    background-color: var(--at-light-green);
    border: 1px solid var(--at-light-green);
    box-shadow: none;
}

.at-btn-dark:active:focus {
    color: white;
    background-color: var(--at-dark-green);
    border: 1px solid var(--at-dark-green);
}

.at-title-green {
  text-transform: uppercase;
  font-size: 14px;
  color: var(--at-green);
}

.at-title-big {
  font-size: 18px;
  padding-top: 8px;
}

.at-label {
  padding-top: 7px;
}
