@import "bootstrap-sprockets";
@import "bootstrap";

body {
    font-family: avenir, sans-serif;
}

.at-header {
  padding-bottom: 15px;
  margin: 15px 0;
  border-bottom: 1px solid #eeeeee;
  text-align:center;
}

.at-list-group {
  margin-bottom: 30px;
  padding: 0px 150px;
}

.at-list-group-item {
  position: relative;
  display: block;
  background: #f8f8f8;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  box-shadow: 0 1px 3px 1px #eaeaea;
}

.at-btn-light {
  text-transform: uppercase;
  width: 60px;
  background: transparent;
  border: 1px solid #89bc62;
  color: #89bc62;
  margin-right: 5px;
}
