.at-footer {
  padding: 8px 0;
  margin-top: 50px;
  border-top: 1px solid var(--at-light-shadow-grey);
  background-color: var(--at-grey);
  text-align: center;
}

.at-footer-logo {
  height: 15px;
}
