.at-content-wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
}

.at-actions-wrapper {
  margin-bottom: 30px;
}

.at-day-wrapper {
  margin-bottom: 30px;
}

.at-day-wrapper:last-child {
  margin-bottom: 0;
}

.at-row {
  margin-bottom: 15px;
}